h3{
    background-color:red
}

.header{

    color:blue;

background-color: black;


}
.mid{

    color:red;

    display:flex;
    justify-content:space-between;

    background-color: cyan;
}
.pigeon{


    color:red;



}
.chameleon{

    color:green


} 
